.chat {
  background-color: white;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  letter-spacing: .5px;
  overflow-y: auto;
}

.chat-body {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.messages-container {
  display: flex;
  flex-flow: column nowrap;
  min-height: min-content;
  width: 100%;
}

.chat-footer {
  margin: .5rem 1rem 1rem;
  flex: 0 1 auto;
}

.chat-input {
  display:block;
  flex: 0 1 200px;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: 1px solid #999;
  line-height: 2;
  font-size: 1rem;
}
