.message-container:first-child {
  margin: auto 0 0 0;
}

.message-container {
  padding: .5rem 1.5rem;
}

.message-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.message-title {
  font-weight: 700;
  line-height: 1.5;
}

.message-time {
  padding: 0 0 0 0.75rem;
  color: #999;
}

.message-edited {
  padding: 0 0 0 0.75rem;
  color: #999;
  font-weight: 200;
  font-size: 0.75rem;
}

.message-content {
  line-height: 1.75;
  text-align: left;
}

.message-content-edit {
  box-sizing: border-box;
  padding: 0.25rem;
  resize: none;
  width: 100%;
  font-size: 1rem;
  font-family: sans-serif;
  line-height: 1.75;
  letter-spacing: .5px;
}

.message-content.ambient {
  color: #999;
}
