.message-container {
  background-color: white;
  box-shadow: 0 2px 40px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.message-header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.message-title {
  font-weight: 700;
  line-height: 1.5;
}

.message-time {
  padding: 0 0 0 0.75rem;
  color: #999;
}

.message-edited {
  padding: 0 0 0 0.75rem;
  color: #999;
  font-weight: 200;
  font-size: 0.75rem;
}

.message-content {
  line-height: 1.75;
  text-align: left;
}

.message-content-edit {
  box-sizing: border-box;
  padding: 0.25rem;
  resize: none;
  width: 100%;
}

.message-content.ambient {
  color: #999;
}
